.lower-nav {
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  background-color: #f8f9fa;
  border-top: 1px solid #adafaf;
  border-bottom: 1px solid #e9ecef;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 700;
}
.lower-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}
/* Active link style */
.lower-nav ul li.active a {
  color: #c79809;
  font-weight: bold;
}
